body {
    background-image: url(../images/code-matrix.jpg);
    background-repeat: repeat;
    max-height: 100%;
}

h2 {
    color: white;
}

label {
    color: white;
}

li {
    color: white;
}

#topHeader {
    text-align: center;
    color: white;
}

#greeting {
    text-align: center;
}

#startQuiz {
    text-align: center;
}

#currentResult {
    color: white;
}

#wholeGame {
    text-align: center;
}

.openingBox {
    color: white;
    height: 20vh;
    margin-top: 200px;
}

.quizGameBoxHeader {
    color: white;
}

.HS {
    color: white;
}

.something {
    margin-top: 10px;
}

.btnPad {
    padding-top: 5px;
}